.container {
    max-width: 880px;
    display: block;
    margin: auto;
}

header {
    background-color: #24242c;
    padding-top: 23px;
    padding-bottom: 27px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container a {
    color: #97999b;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.main {
    height: calc(100vh - 90px);
    position: relative;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_overlay {
    background-color: rgb(255 182 0 / 70%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .main_overlay h1 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 31px;
}

.main .main_overlay p {
    color: #24242c;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 45px;
}

.main .main_overlay button {
    background-color: #24242c;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 46px;
    outline: none;
}

.main .main_overlay button:hover {
    cursor: pointer;
}

.main .main_overlay button i {
    margin-left: 9px;
    margin-top: 2px;
}

.offers {
    height: 100%;
}

.offers_container {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
    align-items: center;
}

.offers_item {
    flex: 1;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.offers_item:last-of-type {
    margin-right: 0;
    transform: translateY(-50px);
}

.offers_item img {
    width: 100%;
    margin-bottom: 22px;
}

.offers_item:first-of-type {
    transform: translateY(-50px);
}

.offers_item h3 {
    color: #24242c;
    font-family: "Open Sans - Semibold";
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-bottom: 15px;
}

.offers_item i {
    color: #ffb600;
}

.offers_item p {
    color: #97999b;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
}

.offers_item .price {
    color: #24242c;
    font-family: "Open Sans - Semibold";
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}

.offers_item button {
    background-color: #24242c;
    color: #ffb600;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    display: inline-block;
    width: 152px;
    height: 49px;
    text-align: center;
    border-radius: 8px;
    outline: none;
}

.offers_item button:hover {
    cursor: pointer;
}

.promo {
    height: 100vh;
    position: relative;
}

.promo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36 36 44 / 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo_overlay h2 {
    color: white;
    font-family: Lora;
    font-size: 65px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    font-family: "Open Sans";
    margin-bottom: 35px;
}

.promo_overlay h2 span {
    color: #ffb600;
    font-family: Lora;
    font-size: 65px;
    font-weight: 400;
    text-align: left;
    font-style: italic;
}

.promo_overlay button {
    width: 182px;
    height: 62px;
    background-color: #ffb600;
    color: #24242c;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    border: 2px solid white;
    outline: none;
}

.promo_overlay button:hover {
    cursor: pointer;
}

.img_right {
    display: flex;
    height: 100vh;
}

.img_right .offers_text,
.img_right .offers_img {
    width: 50%;
}

.img_right .offers_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_right .offers_item {
    max-width: 450px;
    margin-right: 150px;
    margin-left: 150px;
}

.img_right.reverse .offers_item {
    margin-bottom: 0;
}

.img_right .offers_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img_right.reverse {
    flex-direction: row-reverse;
    height: calc(100vh);
}

.img_right.reverse .offers_text {
    justify-content: flex-start;
}

footer {
    background-color: #24242c;
    padding-top: 28px;
    padding-bottom: 28px;
}

footer .footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_container .footer_left {
    display: flex;
    align-items: center;
}

.footer_container .footer_left img {
    margin-right: 9px;
}

.footer_container .footer_left p {
    color: #797c82;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.52px;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer_container .footer_right ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.footer_container .footer_right ul li {
    list-style: none;
    margin-right: 40px;
}

.footer_container .footer_right ul li:last-of-type {
    margin-right: 0;
}

.footer_container .footer_right ul li a {
    color: white;
    font-size: 15px;
}

.footer_container .footer_right {
    display: flex;
    align-items: center;
}


/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 0px;
    max-width: 560px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    height: 315px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.modal__container iframe {
    width: 100%;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}


/**************************\
    Demo Animation Style
  \**************************/

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.offers.offers_mobile {
    display: none;
}

.offers.offers_mobile .offers_container {
    padding-right: 0;
    padding-left: 0;
}

.offers.offers_mobile .offers_item>*:not(a) {
    margin-left: 20px;
}

.offers.offers_mobile .offers_item a {
    display: block;
    position: relative;
}

.offers.offers_mobile .offers_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1200px) {
    .offers_container {
        padding-right: 50px;
        padding-left: 50px;
    }
    .offers_item p:not(.location) {
        max-height: 190px;
        overflow: hidden;
    }
    .img_right .offers_item {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media(max-width:880px) {
    .header_container {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media(max-width:768px) {
    .offers.offers_mobile .offers_item {
        transform: unset;
    }
    .offers.offers_mobile {
        display: block;
    }
    .offers:not(.offers_mobile) {
        display: none !important;
    }
    .offers.offers_mobile .fp-controlArrow {
        top: 53vw;
    }
    .offers.offers_mobile .fp-controlArrow::before {
        content: '';
        width: 100px;
        height: 150px;
        position: absolute;
        top: -75px;
    }
    .offers.offers_mobile .fp-controlArrow.fp-prev::before {
        left: -15px;
    }
    .offers.offers_mobile .fp-controlArrow.fp-next::before {
        right: -15px;
    }
    .promo_overlay h2 {
        font-size: 7vw;
    }
    .promo_overlay h2 span {
        font-size: 7vw;
    }
    .img_right {
        flex-direction: column-reverse !important;
    }
    .img_right .offers_text {
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .img_right .offers_img {
        width: 100%;
        height: 50%;
    }
    .img_right .offers_item {
        max-width: 100%;
        transform: none;
    }
    footer {
        display: none;
    }
}

@media(max-width:650px) {
    .main .main_overlay h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .main .main_overlay p {
        font-size: 20px;
    }
    .main .main_overlay h1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 5.9vw;
    }
    .main .main_overlay p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 3vw;
    }
}

@media(max-width:425px) {
    .main .main_overlay p {
        font-size: 4vw;
    }
    .main .main_overlay h1 {
        font-weight: 600;
    }
    .offers.offers_mobile .fp-controlArrow.fp-prev {
        border-width: 25.5px 30px 25.5px 0;
    }
    .offers.offers_mobile .fp-controlArrow.fp-next {
        border-width: 25.5px 0 25.5px 30px;
    }
    .offers.offers_mobile .fp-controlArrow {
        top: 45vw;
    }
    .promo_overlay button {
        width: 165px;
        height: 52px;
        font-size: 17px;
    }
}

@media(max-width:400px) {
    .offers.offers_mobile .fp-controlArrow {
        top: 53vw;
    }
    .promo_overlay h2 {
        font-size: 9vw;
    }
    .offers_item p:not(.location) {
        max-height: 75px;
    }
    .offers_item .price {
        font-size: 25px;
    }
    .img_right .offers_img img {
        height: 90%;
    }
    .offers_item p {
        font-size: 15px;
        margin-bottom: 5px;
    }
}